.sider {
	position: relative;
}

.sider-content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.sider-setting {
	display: none;
	position: relative;
}

#content-setting {
	display: none;
}

.ant-tabs-nav {
	position: absolute;
	width: 100%;
	bottom: 0;
}
